@import "tailwindcss";

:root {
  --font-geist-sans: "Inter", sans-serif;
  --font-geist-mono: "Fira Code", monospace;
  --color-black100: #1f1f24;
  --color-black90: #202531;
  --color-black80: #37404f;
  --color-black70: #4e5766;
  --color-black60: #667085;
  --color-white100: #ffffff;
  --color-white90: #fffefb;
  --color-offWhite: #f2f0ef;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-black100: #1f1f24;
  --color-black90: #202531;
  --color-black80: #37404f;
  --color-black70: #4e5766;
  --color-black60: #667085;
  --color-white100: #ffffff;
  --color-white90: #fffefb;
  --color-offWhite: #f2f0ef;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}
