@import "tailwindcss";

:root {
  --color-black100: #1f1f24;
  --color-black90: #202531;
  --color-black80: #37404f;
  --color-black70: #4e5766;
  --color-black60: #667085;
  --color-white100: #ffffff;
  --color-white90: #fffefb;
  --color-offWhite: #f2f0ef;
  --color-pistacho: #aacbc4;
  --color-dark-green: #032221;
  --color-bangladesh: #03624c;
  --color-mountain: #2cc295;
  --color-caribbean: #00df81;
  --color-pine: #0c302b;
  --color-basil: #0b453a;
  --color-frog: #17876d;
  --color-mint: #2fa98c;
  --color-greenWhite: #daf1de;
  --color-grayIcon: #adadad;
}

@theme {
  --color-black100: #1f1f24;
  --color-black90: #202531;
  --color-black80: #37404f;
  --color-black70: #4e5766;
  --color-black60: #667085;
  --color-white100: #ffffff;
  --color-white90: #fffefb;
  --color-offWhite: #f2f0ef;
  --color-pistacho: "#aacbc4";
  --color-dark-green: "#032221";
  --color-bangladesh: #03624c;
  --color-mountain: #2cc295;
  --color-caribbean: #00df81;
  --color-pine: #0c302b;
  --color-basil: #0b453a;
  --color-frog: #17876d;
  --color-mint: #2fa98c;
  --color-greenWhite: "#daf1de";
  --color-grayIcon: #adadad;
}
